<!DOCTYPE html>
<html>

<head>
    <title>Team India's Raspberry Pi</title>
</head>

<body>
    <h2>State of actuators</h2>


    <div>
        The green LED is <div id="greenLed"> </div>
    
        <form action="<%= completeURL %>" method="post">
            <button type="submit">Change LED state</button>
        </form>
    </div>

    <div>
        The red LED is <div id="redLed"> </div>
    
        <form action="<%= completeURL %>" method="post">
            <button type="submit">Change LED state</button>
        </form>
    </div>

    <div>
        The yellow LED is <div id="yellowStatus"> </div>
    
        <form action="<%= completeURL %>" method="post">
            <button type="submit">Change LED state</button>
        </form>
    </div>

    <h2>State of Sensors</h2>
        The current temperature is <div id="temperature"> </div> degrees <div id="tempUnit"> </div>

        The current humidity level is <div id="humidity"> </div> <div id="humUnit"> </div>

        The PIR sensor is<div id="movement"></div> detecting movement
</body>

<script src="index.js"></script>

</html>