%Usual folders
**/.git/*
**/.idea/*
**/.ipynb_checkpoints/**
**/cmake-build-debug/**
**/.vscode/*

%Usual files
%Latex
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.fdb_latexmk
*.fls

CMakeLists.txt
**/a.out
**.DS_Store
**/*.log
*.img

%Specific folders
**/docker/*
**/Videos/*
**/webserver/*
**/node\_modules/*
**/iot-project-master/*
**/build/*
**/zips/*
**/*.log
*.img

**/**.DS_Store
