[Desktop Entry]
Encoding=UTF-8
Name=Link to Hver anden danske kommune er i gang med Smart City | itchefer.dk
Type=Link
URL=https://www.itchefer.dk/kit-magasinet/artikel/hver-anden-danske-kommune-er-i-gang-med-smart-city
Icon=text-html
