[Desktop Entry]
Encoding=UTF-8
Name=Link to Udbredelse af Smart City løsninger i Danmark | erhvervsstyrelsen.dk
Type=Link
URL=https://erhvervsstyrelsen.dk/udbredelse-af-smart-city-loesninger-i-danmark
Icon=text-html
