[Desktop Entry]
Encoding=UTF-8
Name=Link to Welcome to Nordic Smart City Network | Nordic Smartcity Network
Type=Link
URL=https://nscn.eu/
Icon=text-html
