<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Team India's Pi</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<h1> Welcome to team India's Raspberry Pi! </h1>
<body>
    <div class="container">
        <ul class=”nav navbar-nav pull-right”>
            <li><a href="/pi/actuators/">Actuators</a> 
            <li><a href="/pi/sensors/">Sensors</a> 
            </li> 
        </ul>
    </div>


    <script>
    function subscribeToWs(url, msg) {

        console.info('Subscribing to WS');
        console.info(url);
        var socket = new WebSocket(url);

        socket.onmessage = function (event) {
            console.log('received message');
            console.log(event.data);
        };
        socket.onerror = function (error) {
            console.log('An error occurred while trying to connect to a Websocket!');
            console.log(error);
        };
        socket.onopen = function (event) {
            if (msg) {
                socket.send(msg);
            }
        };
    }
    subscribeToWs('ws://192.168.0.107:8081/pi/sensors', 'test message');
    </script>




</body>

</html>