<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>LEDs</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>

<h1> <%= ledInfo.description %> </h1>

    <div class="container">
        <ul class=”nav navbar-nav pull-right”>
            <li><a href="/pi/actuators/leds/red">Red</a>
            <li><a href="/pi/actuators/leds/yellow">Yellow</a>
            <li><a href="/pi/actuators/leds/green">Green</a>
            </li>
        </ul>
    </div>
</body>

</html>