<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sensors</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
<h1> Sensors </h1>

    <div class="container">
        <ul class=”nav navbar-nav pull-right”>
            <li><a href="/pi/sensors/temperature">Temperature</a> 
            <li><a href="/pi/sensors/humidity">Humidity</a> 
            <li><a href="/pi/sensors/pir">Passive Infrared Sensor</a> 
            </li> 
        </ul>
    </div>
</body>

</html>